*{
    margin: 0;
    padding: 0;
}

.logo{
    height: 22px;
    width: 105px;
}

.top-nav:hover{
    border-bottom: 2px solid black;
}

.box-shadow{
    box-shadow: 0 .1875rem .4375rem 0 rgba(0, 0, 0, .13), 0 .0625rem .125rem 0 rgba(0, 0, 0, .11);
}

.a-underline{
    text-decoration: none;
}

.a-underline:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 1083px) {
    .move-card-1{
        position: absolute;
        height: 320px;
        width: 400px;
        background-color: white;
        margin-left: 50px;
        margin-top: 50px;
        
    }
}

@media only screen and (min-width: 1083px) {
    .move-card-2{
        position: absolute;
        height: 200px;
        width: 300px;
        background: none;
        margin-left: 85px;
        margin-top: 70px;
    }
}

